body{
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background: ghostwhite;
    font-size: 1em;
    line-height: 1.5em; 
}
#info{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
input
{ 
   
    border:2px black;
}